@font-face {
    font-family: GraphikArabic-Bold;
    src: url("../fonts/GraphikArabic-Bold.woff");
    font-weight: normal;
    font-style: normal;
}

* {
    font-family: GraphikArabic-Bold, serif;
}